:root {
  --color-accent: oklch(65% 50% 0);
  color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 10px;
  }

nav {
  display: flex;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}

nav ul {
  display: contents;
}

nav li {
  display: contents;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a.current {
  border-bottom-width: 0.4em;
  padding-bottom: 5px;
  background-color:oklch(0.73 0 193)
}

a:hover {
  border-bottom-width: 0.4em;
  padding-bottom: 5px;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

article {
  border-style: dotted
}

form {
  display: grid;
  gap: 1em;
}

form label {
  grid-column: 1 / -1;
}

form input{
  font: inherit;
  grid-column: 1 / -1;
  /* display: block;
  width: 100%;
  box-sizing: border-box; */
}

form button {
  grid-column: 1 / -1;
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

div.projects article {
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

div.projects article h2 {
  margin: 0
}

h1 {
  line-height: 1.1;
  font-size: 400%;
}

h2 {
  line-height: 1.1;
  font-size: 200%;
}

h3 {
  line-height: 1.1;
}

h4 {
  line-height: 1.1;
}

h5 {
  line-height: 1.1;
}

h6 {
  line-height: 1.1;
}

article.border {
  border-style: dotted;
  border-width: 2px;
  padding: 10px;
}

a.cvproject {
  text-decoration: none;
  color: blue;
}

label {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

option {
  font-size: 110%;
  font-family: inherit;
}

select {
  size: 80%;
}